@model Interface.Models.View.ChangePasswordViewModel
@{
    ViewData["Title"] = "Alterar Senha";
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js" integrity="sha512-6S5LYNn3ZJCIm0f9L6BCerqFlQ4f5MwNKq+EthDXabtaJvg3TuFLhpno9pcm+5Ynm6jdA9xfpQoMz2fcjVMk9g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/localization/messages_pt_BR.min.js" integrity="sha512-PHX1u45elKeOnEy2N3H1tVwyKDD8EQtnmNqNQ8LfMXj09a+JjfX9wWSwr61nvRzJZsLt1/YRkhUyJmv/sbRuCA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/AlterarSenha.min.js" asp-append-version="true"></script>

    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
    <h2 class="mb-4 text-primary text-center">Alterar Senha</h2>
    <div class="card w-25">
        <div class="card-body login-card-body">
            @if (ViewBag.MensagemErro != null)
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.MensagemErro
                </div>
            }@if (ViewBag.MensagemSuccess != null)
            {
                <div class="alert alert-success text-center">
                    @ViewBag.MensagemSuccess
                </div>
            }
        <form action="~/Perfil/ChangePassword" method="post">
            @Html.ValidationMessageFor(model => model.SenhaAtual, "", new { @class = "text-danger" })
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Senha atual" asp-for="SenhaAtual">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.NovaSenha, "", new { @class = "text-danger" })
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Nova senha" asp-for="NovaSenha">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            @Html.ValidationMessageFor(model => model.ConfirmarNovaSenha, "", new { @class = "text-danger" })
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Confirmar nova senha" asp-for="ConfirmarNovaSenha">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Salvar</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
